<%- include('../layout/header') %>


    <form action="/forget" method="post">

        <% if(typeof message!=='undefined' ){ %>
            <p>
                <%= message %>
            </p>
            <% } %>
                <input type="email" name="email" placeholder="Enter Email"><br><br>
                <input type="submit" value="Sent Reset Link">
    </form>



    <%- include('../layout/footer') %>